body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
  line-height: 1.6;
  background: #fff;
  color: #111;
}

.wrap {
  max-width: 64ch;
  margin: 0 auto;
  padding: 60px 20px;
}

h1 {
  font-weight: 600;
  letter-spacing: -0.01em;
}

h2 {
  font-weight: 400;
  letter-spacing: -0.01em;
}

h3 {
  font-weight: 300;
  letter-spacing: -0.01em;
}

code {
    font-weight: 100;
}

a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 3px;
}
